*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.frst-dd{
	
	background-color: darkblue;
	padding: 10px 10px 10px 710px;
	font-synthesis: sans-serif;

}
.frst-dd a{
	color: white;
	padding: 5px;
	text-decoration: none;
	text-decoration-style: bold;
	font-size: 15px;
}
.frst-dd a:hover{
	text-decoration: underline;
}
.sec-dd{
	width: 100%;
	height: 16%;
	
}
.imglogo img{
	width: 300px;
	float: left;
	padding: 10px 10px 10px 30px;

}

.navigation{
	float: left;
	margin: 0 0 0 70px;
	position: absolute;
	display: inline-block;

}
.navigation ul{
	list-style: none;

}
.navigation ul li{
	padding: 16px;
	font-size: 20px;
	border: 2px solid white;
	color: darkblue;
	text-align: center;
	float: left;
	line-height: 50px;
	position: relative;

}

.navigation ul .sub-cls {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 300px;
	box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
	z-index: 1;
}

.sub-cls{
	display: none;
	position: absolute;
	background-color: white;
	min-width: 300px;
	box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
	z-index: 1;
}

.navigation ul li:hover .sub-cls  {
	display: block;
	padding: 0;
	min-width: 300px;
	margin:0; 
	background-color: white;
}
.sub-cls-1{
	display: none;
}
.navigation ul ul:hover .sub-cls-1{
	display: block;
}


i{

	margin : 0 0 0 10px;
	font-size: 10px;

}

#prev , #next {
	cursor: pointer;
	border-radius: 0 3px 3px 0;
	color: white;
	padding: 8px 10px 8px 10px;
	position: absolute;
	background-color: black;


}
#next{
	right: 0;
	border-radius: 0 3px 3px 0;
}
#prev:hover , #next:hover{
	background-color: white;
}
.forDot{
	text-align: center;
}
.dot{
	cursor: pointer;
	background-color: #f1f1f1;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 2px;
	
}
.dot:hover{
	background-color: white;
}
